<div class="row">
    <div class="col-md-8 offset-3" style="margin: auto;">
        <h1 class="text-danger">Error 404:</h1>
        <h1 class="text-danger">No se ha encontrado el recurso</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Inicio</a>
    </div>
</div>
