@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4 animate__animated animate__rubberBand">Welcome to SchoolApplication </h1>
    <h2 class="animate__animated animate__flipInX">Select the option you want to scroll to in the menu</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>