@model Escuela.Dominio.Enrollment
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>combobox</title>
</head>
<body>

    @using (Html.BeginForm("GetinformationCombobox", "Enrollement", FormMethod.Post))
    {


        @Html.DropDownListFor(a => a.CourseID, new SelectList(ViewBag.estadolistcourse, "Value", "Text"), "Select a course", new { @class = "form-control" })
        <br />
        <br />
        @Html.DropDownListFor(a => a.StudentID, new SelectList(ViewBag.estadoliststudent, "Value", "Text"), "Select a Student", new { @class = "form-control" })
        <br />
        <br />

        <input type="submit" />
    }
</body>
</html>